.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: white;
}

.cardComponents {
  width: 90%;
  max-width: 600px;
  border: 2px solid #fff;
  border-radius: 10px;
  margin: 5px;
	text-align: center;
  padding: 15px;
  color : white;
}
.cardComponents .card{
      background-color: #282c34;

}
.cardComponents .cardImg{
  max-height: 400px;
  padding:20px;
  max-width: 1000px;
}
.form__container {
	width: 90vw;
  max-width: 400px;
  margin: 50px 0px;
}

.form__container .buttonFormGroup {
	text-align: center;
}
.form__container h5.err-msg {
  color : #ff6263;
  margin-bottom: 50px;
}
.description {
  width: 90vw;
  max-width: 500px;
  margin: 50px 0px 0px 0px;
  text-align: center;
}